doctype html
html 
    head
        block head
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(name='Cross-Origin-Embedder-Policy' content='unknown-value, require-corp')
            title= `Natours | ${title}`
            link(rel='stylesheet' href=`/css/style.css`)
            link(rel='image/icon' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    body
        //HEADER
        include _header

        //content
        block content 
            h1 gello world from base

        //FOOTER
        include _footer 
    
    script(src='/js/mapBox.js' type='module')